@font-face {
  font-family: "museo700";
  src: url("../../fonts/museo_700-webfont.woff2") format("woff2"), url("../../fonts/museo_700-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo500";
  src: url("../../fonts/museo500-regular-webfont.woff2") format("woff2"), url("../../fonts/museo500-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "museo_sans500";
  src: url("../../fonts/museosans-500-webfont.woff2") format("woff2"), url("../../fonts/museosans-500-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
