// Colours
$lightBlue: #63c7f2;
$blue: #055da9;
$darkBlue: #1b3660;
$magenta: #e83d7d;
$yellow: #fab313;
$green: #82b129;
$lightGrey: #000;
$darkGrey: #464545;

// Fonts
$headerFont: "museo700";
$bodyFont: "museo500";
